/*peternity.css */
    .navbar {margin-bottom: 0;border-radius: 0;background-color: #da9b83; }
	.nav {margin-bottom: 0;border-radius: 0;background-color: #da9b83; }
    .row.content {height: 100px}
	.sidenav {padding-top: 20px; background-color: #f1f1f1;height: 100%;}
    .sidenav {height: auto;padding: 15px;}
    .row.content {height:auto;} 
	.u{text-decoration:underline;}
	.b{text-decoration: bold;color: black;}
	.carousel-inner{ width:100%; max-height:500px;}
	.carmargin{margin:20px 0px 0px 0px;}
	.right{text-align: right;}
	.border{border: solid 2px orange;margin: 15px 0px 0px 0px;padding: 10px;}
	.adoptborder{border: 4px solid #A55F00;}
	.height{height: 500px;}
	.menupad{margin-right: 56px; background-color:#da9b83;}
	.userpad{padding-right:45px;  background-color:#da9b83;}
	.auto{margin: auto; margin-top: 10px;}
	.adoptimg{margin-top: 10px;}
	.leftmargin{margin-left: 140px;}
	.margin{margin-left: 120px;}
	.marginleft{margin-left: 120px;}
	.margintop{margin-top: 20px;}
	.marginbottom{margin-bottom: 20px;}
	.shadow{box-shadow: 10px 10px 50px #2B2C2C; }
	.login{margin-left: 75px; color: black;}
	.gap{text-align: left; padding: 0px 0px 0px 100px;}
	.profilepic{float: left; margin-bottom: 10px;}
	.imgmarg{margin-left:200px; margin-right:200px;}
	.sign{padding-left: 350px;}
	.info{margin-left:50px; text-align: left;}
	.sm{font-size:  12px; font-family: Verdana;}
	.ver{font-family: Verdana;}
	.sign{padding-left: 350px;}
	.heart{min-width: 50px; min-height: 50px; color:}
	.centered{margin-left: 350px;}
	.signinbutton{margin-left: 90px;}
	.sign{padding-left: 350px;}
	.modalb{height: 350px;}
	.modalbx{height: 600px; float:center;}
	.mainbox1{width:100px;}
	.heading{font-family: Montserrat; color: Black;}
	.logpic{margin-right: 10px;}
	.sminfo{margin-left: 20px; margin-right: 10px;}
	.userhome{margin-left: 100px;}
	.float{float: left;}
	.fixed{position: fixed;}
	.button{background-color: #da9b83;}
	.picstory{margin-left: 100px; }
	.usermarg{margin-left: 210px;}

	.discmarg{margin-left: 195px;}

	.dropdown-content {background-color:#da9b83;}
	.dropdown{background-color:#da9b83;}
	.dropdown-content a:hover {background-color:#da9b83;}
	.dropdown:hover .dropdown-menu {display: block;  background-color:#ffcab2;}
	.spacing{margin-left: 120px;}
	.smspace{margin-left: 60px;}
	.white{color: white;}
	.re{border-radius: 30px;}
	.cent{margin: 0px 350px 0px 350px;}
	.moving{margin-left: 300px;}
	.panel-default1{background-color: #FAD332;}
	.fixed-bg {
    background-image: url('../images/petbg2.jpg');
    min-height: 500px;
    min-width: 750px;
	border-radius: 40px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
	
	.bg {
    background-image: url('../images/bonesbg.png');
    min-height: 500px;
    min-width: 750px;
	border-radius: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
	
	.faqbg {
    background-image: url('../images/mainfaq.jpg');
    min-height: 500px;
    min-width: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
	
	
	.adminlog {
    background-image: url('../images/petbg.jpg');
    min-height: 500px;
    min-width: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
	
	
	
	#textmargin{margin-left: 135px;}
	panel{margin-left: 600px; margin-right: 600px;}
	button{margin:auto;}
	h3, h5, label, th{font-family: Verdana;}
	a{font-family: Arial Black; color: Black;  text-decoration: none; }
	hr{ display: block;margin-top: 0.5em; margin-bottom: 0.5em;margin-left: auto; margin-right: auto;border-style: inset;border-width: 1px; border-color: orange;}
	p{text-indent: 50px; font-family: Verdana;}

	
.button1 {
    background-color: white; 
    color: black; 
	border-radius: 12px;
}

.button1:hover {
    background-color: #E9967A;
    color: white;
}

.is{
	height:70px;
	width:70;
}
.is1{
	height:70px;
	width:50;
}


	/**IMAGE SLIDER/CAROUSEL**/
.carouselcontain{
    position: relative;
}

@media (min-width: 768px) { 
    .form{
        width: 750px;
        position: absolute;
        left: 675px;
        top: 125px;
        bottom: 0;
        padding: 20px 0px;
        margin-left: -375px;
		
    }
    .form-content {
        width: 300px;
        float: right;
        height: 350px;
        background-color: rgba(119 ,202 ,179 ,0.5); 
        color: #fff;
		padding: 10px 20px 0px 20px;
        margin-right:15px; /* width of .container gutter */
    }
}

}


/* MISC */
#myCarousel .item {
    overflow: hidden;
    height: 500px;
    background-color: transparent;
    background-size: cover;
}
#myCarousel > .carousel-control {
    width: 40px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
#myCarousel > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}
.ih-item.circle.effect1 .spinner {
  width: 260px;
  height: 260px;
  border: 15px solid #da9b83;
  border-right-color: #b1cdda;
  border-bottom-color:#b1cdda;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  margin-left: 40px;

}
.ih-item.circle.effect1 .img {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 50px;
  right: 0;
  width: 240px;
  height: 240px;
  
}
.imagespin{
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  width: 230px;
  height: 230px;

  left: 20px;

}
.ih-item.circle.effect1 .img:before {
  display: none;
}


.ih-item.circle.effect1 :hover .spinner {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  
}
.btn-adopt{
    height: 50px;
    width: 100px;
    background: #E9967A;
    margin-left: 90px;
    margin-top: 10px;
    float: left;
    border:0px;
    color:#E9967A;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
	border-radius: 12px;
}
.btn-adopt:hover{
    -webkit-box-shadow: -100px 0 0 #d3a42c inset;
}
	
.marginpet{
	margin-left: 80px;
}


.marginpett{
	margin-right: -35px;
}


	/**picture fade**/
.image {
  border-radius: 100%;
  display: flex;
  flex: 0 0 150px;
  height: 250px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 250px;
  border: 20px solid  #ffcab2;
}  
.thumb {
  position: relative;
  width: 100%;
 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
   
}

.thumb:hover .overlay {
  opacity: 0.3;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.newss {
  display: inline-block;
  float: left;
}
.hotAirBalloonMovement {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	overflow:hidden;
}
.hotAirBalloonMovement .animatedBalloon,
.hotAirBalloonMovement .meri2,
.hotAirBalloonMovement .meri3,
.hotAirBalloonMovement .meri4,
.hotAirBalloonMovement .meri5,
.hotAirBalloonMovement .meri6,
.hotAirBalloonMovement .meri7,
.hotAirBalloonMovement .meri8,
.hotAirBalloonMovement .meri9,
.hotAirBalloonMovement .meri10,
.hotAirBalloonMovement .meri11,
.hotAirBalloonMovement .meri12,
.hotAirBalloonMovement .meri13,
.hotAirBalloonMovement .meri14,
.hotAirBalloonMovement .meri15 {
	display:inline-block;
	position:absolute;
	top:-30%;
	-webkit-animation:hotAirBalloonMovement 25s linear 1s infinite;
	animation:hotAirBalloonMovement 25s linear 1s infinite;
}
.hotAirBalloonMovement .meri2 {
	left:10%;
	-webkit-animation:meri2 25s linear 8s infinite;
	animation:meri2 25s linear 8s infinite;
}
.hotAirBalloonMovement .meri3 {
	left:17%;
	-webkit-animation:meri2 25s linear 18s infinite;
	animation:meri2 25s linear 18s infinite;
}
.hotAirBalloonMovement .meri4 {
	left:24%;
	-webkit-animation:meri2 25s linear 3s infinite;
	animation:meri2 25s linear 3s infinite;
}
.hotAirBalloonMovement .meri5 {
	left:30%;
	-webkit-animation:meri2 25s linear 3s infinite;
	animation:meri2 25s linear 3s infinite;
}
.hotAirBalloonMovement .meri6 {
	left:37%;
	-webkit-animation:meri2 25s linear 4s infinite;
	animation:meri2 25s linear 4s infinite;
}
.hotAirBalloonMovement .meri7 {
	left:44%;
	-webkit-animation:meri2 25s linear 9s infinite;
	animation:meri2 25s linear 9s infinite;
}
.hotAirBalloonMovement .meri8 {
	left:50%;
	-webkit-animation:meri2 25s linear 15s infinite;
	animation:meri2 25s linear 15s infinite;
}
.hotAirBalloonMovement .meri9 {
	left:57%;
}
.hotAirBalloonMovement .meri10 {
	left:64%;
	-webkit-animation:meri2 25s linear 10s infinite;
	animation:meri2 25s linear 10s infinite;
}
.hotAirBalloonMovement .meri11 {
	left:71%;
}
.hotAirBalloonMovement .meri12 {
	left:78%;
	-webkit-animation:meri2 25s linear 7s infinite;
	animation:meri2 25s linear 7s infinite;
}
.hotAirBalloonMovement .meri13 {
	left:85%;
}
.hotAirBalloonMovement .meri14 {
	left:40%;
	-webkit-animation:meri2 25s linear 17s infinite;
	animation:meri2 25s linear 17s infinite;
}
.hotAirBalloonMovement .meri15 {
	left:60%;
	-webkit-animation:meri2 25s linear 16s infinite;
	animation:meri2 25s linear 16s infinite;
}
@-webkit-keyframes hotAirBalloonMovement {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@-moz-keyframes hotAirBalloonMovement {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@keyframes hotAirBalloonMovement {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}

@-webkit-keyframes meri2 {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@-moz-keyframes meri2 {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@keyframes meri2 {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}

.enter {
	color: #f33 !important;
	position: absolute !important;
	top: 85% !important;
	left: 50%;
	z-index: 1 !important;
	width: 120px;
	margin-left: -67px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}
.pad{
	padding-left: 0px;
}
.margleft{
	padding-left: 20px;
}
.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}
:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.side-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
   
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;

  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}

.myfooter {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}

.myfooter .title-widget {
	text-align: left;
	color:#fff;
	font-size: 25px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.myfooter .title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.myfooter .social-icon{padding:0px;margin:0px;}
.myfooter .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.myfooter .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.myfooter .acount-icon .fa{margin-right:25px;}


.myfooter .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.myfooter ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}


.myfooter .payment{margin:0px;padding:0px;list-style-type:none}
.myfooter .payment li{list-style-type:none}
.myfooter .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

.myfooter ul.social {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
.myfooter ul.social li {
	display: inline;
	margin: 0 5px;
}


.myfooter .social a.icoRss:hover {
	background-color: #FF3396;
}
.myfooter .social a.icoFacebook:hover {
	background-color:#3B5998;
}
.myfooter .social a.icoTwitter:hover {
	background-color:#33ccff;
}
.myfooter .social a.icoGoogle:hover {
	background-color:#BD3518;
}
.myfooter .social a.icoVimeo:hover {
	background-color:#0590B8;
}
.myfooter .social a.icoLinkedin:hover {
	background-color:#007bb7;
}
.myfooter .social a.icoRss:hover i, .myfooter .social a.icoFacebook:hover i, .myfooter .social a.icoTwitter:hover i,
.myfooter .social a.icoGoogle:hover i, .myfooter .social a.icoVimeo:hover i, .myfooter .social a.icoLinkedin:hover i {
	color:#fff;
}
a.myfooter .socialIcon:hover, .myfooter .socialHoverClass {
	color:#44BCDD;
}

.myfooter .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.myfooter .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}


.myfooter .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.myfooter-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.myfooter-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}
/*  zooming class */


.zoom:hover {
     -webkit-transform: scale(1.4);
     -moz-transform: scale(1.4);
     -o-transform: scale(1.4);
 }
.zoom {
     -webkit-transform: scale(1);
     /* Browser Variations: */
     
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
 }
 
 .panel.date {
    margin: 0px;
    width: 80px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
	width:78px;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
	width:78px;
}
#panel{
	left:20px;
	padding-right: 1000px;
	max-height: 500px;
	
}
.s{
	overflow: scroll;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 0 0;
}