/*peternity.css */
    .navbar {margin-bottom: 0;border-radius: 0;}
    .row.content {height: 100px}
	.sidenav {padding-top: 20px; background-color: #f1f1f1;height: 100%;}
    .sidenav {height: auto;padding: 15px;}
    .row.content {height:auto;} 
	.u{text-decoration:underline;}
	.b{text-decoration: bold;color: black;}
	.carousel-inner{ width:100%; max-height:500px;}
	.carmargin{margin:20px 0px 0px 0px;}
	.right{text-align: right;}
	.border{border: solid 2px orange;margin: 15px 0px 0px 0px;padding: 10px;}
	.adoptborder{border: 4px solid #A55F00;}
	.height{height: 500px;}
	.menupad{padding-right:53px;}
	.auto{margin: auto; margin-top: 10px;}
	.adoptimg{margin-top: 10px;}
	.leftmargin{margin-left: 140px;}
	.margin{margin-left: 120px;}
	.marginleft{margin-left: 120px;}
	.margintop{margin-top: 20px;}
	.marginbottom{margin-top: 10px;}
	.shadow{box-shadow: 10px 10px 50px #2B2C2C; }
	.login{margin-left: 75px; color: black;}
	.gap{text-align: left; padding: 0px 0px 0px 300px;}
	.profilepic{float: left; margin-bottom: 10px;}
	.imgmarg{margin-left:200px; margin-right:200px;}
	.sign{padding-left: 350px;}
	.info{margin-left:50px; text-align: left;}
	panel{margin-left: 600px; margin-right: 600px;}
	body{background-color: #FFF5C9;}
	button{margin:auto;}
	h3, h5, a, label{font-family: Arial Black;}
	hr{ display: block;margin-top: 0.5em; margin-bottom: 0.5em;margin-left: auto; margin-right: auto;border-style: inset;border-width: 1px; border-color: orange;}
	p{text-indent: 50px; font-family: montserrat;}
	.sign{padding-left: 350px;}
	
	/**picture fade**/
.image {
  display: block;
  width: 100%;
  height: 50%;
}  
.thumb {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

.thumb:hover .overlay {
  opacity: 0.3;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
	/**IMAGE SLIDER/CAROUSEL**/
.carouselcontain{
    position: relative;
}

@media (min-width: 768px) { 
    .form{
        width: 750px;
        position: absolute;
        left: 675px;
        top: 125px;
        bottom: 0;
        padding: 20px 0px;
        margin-left: -375px;
		
    }
    .form-content {
        width: 300px;
        float: right;
        height: 350px;
        background-color: rgba(119 ,202 ,179 ,0.5); 
        color: #fff;
		padding: 10px 20px 0px 20px;
        margin-right:15px; /* width of .container gutter */
    }
}


/* MISC */
#myCarousel .item {
    overflow: hidden;
    height: 500px;
    background-color: transparent;
    background-size: cover;
}
#myCarousel > .carousel-control {
    width: 40px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
#myCarousel > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}
	