/*peternity.css */
    .navbar {margin-bottom: 0;border-radius: 0;background-color: #ffcab2; }
	.nav {margin-bottom: 0;border-radius: 0;background-color: #ffcab2; }
    .row.content {height: 100px}
	.sidenav {padding-top: 20px; background-color: #f1f1f1;height: 100%;}
    .sidenav {height: auto;padding: 15px;}
    .row.content {height:auto;} 
	.u{text-decoration:underline;}
	.b{text-decoration: bold;color: black;}
	.carousel-inner{ width:100%; max-height:500px;}
	.carmargin{margin:20px 0px 0px 0px;}
	.right{text-align: right;}
	.border{border: solid 2px orange;margin: 15px 0px 0px 0px;padding: 10px;}
	.adoptborder{border: 4px solid #A55F00;}
	.height{height: 500px;}
	.menupad{padding-right:30px; background-color:#ffcab2;}
	.userpad{padding-right:45px;}
	.auto{margin: auto; margin-top: 10px;}
	.adoptimg{margin-top: 10px;}
	.leftmargin{margin-left: 140px;}
	.margin{margin-left: 120px;}
	.marginleft{margin-left: 120px;}
	.margintop{margin-top: 20px;}
	.marginbottom{margin-bottom: 20px;}
	.shadow{box-shadow: 10px 10px 50px #2B2C2C; }
	.login{margin-left: 75px; color: black;}
	.gap{text-align: left; padding: 0px 0px 0px 300px;}
	.profilepic{float: left; margin-bottom: 10px;}
	.imgmarg{margin-left:200px; margin-right:200px;}
	.sign{padding-left: 350px;}
	.info{margin-left:50px; text-align: left;}
	.sm{font-size:  12px; font-family: Verdana;}
	.ver{font-family: Verdana;}
	.sign{padding-left: 350px;}
	.heart{min-width: 50px; min-height: 50px; color:}
	.centered{margin-left: 350px;}
	.signinbutton{margin-left: 90px;}
	.sign{padding-left: 350px;}
	.modalb{height: 350px;}
	.modalbx{height: 600px; float:center;}
	.mainbox1{width:100px;}
	.heading{font-family: Montserrat; color: Black;}
	.logpic{margin-right: 10px;}
	.sminfo{margin-left: 20px; margin-right: 10px;}
	.userhome{margin-left: 100px;}
	.float{float: left;}
	.fixed{position: fixed;}
	.button{background-color: #ffcab2;}
	.picstory{margin-left: 100px; }
	.usermarg{margin-left: 210px;}
	.dropdown-menu a:hover {background-color: }
	.dropdown:hover .dropdown-menu {display: block;}
	.spacing{margin-left: 120px;}
	.smspace{margin-left: 60px;}
	.white{color: white;}
	.re{border-radius: 30px;}
	.cent{margin: 0px 350px 0px 350px;}
	.panel-default1{background-color: #FAD332;}
	.fixed-bg {
    background-image: url('../images/petbg2.jpg');
    min-height: 500px;
    min-width: 750px;
	border-radius: 40px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
	#textmargin{margin-left: 135px;}
	panel{margin-left: 600px; margin-right: 600px;}
	button{margin:auto;}
	h3, h5, label, th{font-family: Verdana;}
	a{font-family: Arial Black; color: Black;  text-decoration: none; }
	hr{ display: block;margin-top: 0.5em; margin-bottom: 0.5em;margin-left: auto; margin-right: auto;border-style: inset;border-width: 1px; border-color: orange;}
	p{text-indent: 50px; font-family: Verdana;}

	
.button1 {
    background-color: white; 
    color: black; 
	border-radius: 12px;
}

.button1:hover {
    background-color: #E9967A;
    color: white;
}

.is{
	height:70px;
	width:70;
}
.is1{
	height:70px;
	width:50;
}


	/**IMAGE SLIDER/CAROUSEL**/
.carouselcontain{
    position: relative;
}

@media (min-width: 768px) { 
    .form{
        width: 750px;
        position: absolute;
        left: 675px;
        top: 125px;
        bottom: 0;
        padding: 20px 0px;
        margin-left: -375px;
		
    }
    .form-content {
        width: 300px;
        float: right;
        height: 350px;
        background-color: rgba(119 ,202 ,179 ,0.5); 
        color: #fff;
		padding: 10px 20px 0px 20px;
        margin-right:15px; /* width of .container gutter */
    }
}


/* MISC */
#myCarousel .item {
    overflow: hidden;
    height: 500px;
    background-color: transparent;
    background-size: cover;
}
#myCarousel > .carousel-control {
    width: 40px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
#myCarousel > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}
.ih-item.circle.effect1 .spinner {
  width: 260px;
  height: 260px;
  border: 15px solid #d66126;
  border-right-color: #d3a42c;
  border-bottom-color:#d3a42c;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  margin-left: 40px;

}
.ih-item.circle.effect1 .img {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 50px;
  right: 0;
  width: 240px;
  height: 240px;
  
}
.imagespin{
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  width: 230px;
  height: 230px;

  left: 20px;

}
.ih-item.circle.effect1 .img:before {
  display: none;
}


.ih-item.circle.effect1 :hover .spinner {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  
}
.btn-adopt{
    height: 50px;
    width: 100px;
    background: #E9967A;
    margin-left: 90px;
    margin-top: 10px;
    float: left;
    border:0px;
    color:#E9967A;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #31708f  inset;
	border-radius: 12px;
}
.btn-adopt:hover{
    -webkit-box-shadow: -100px 0 0 #d3a42c inset;
}
	
.marginpet{
	margin-left: 80px;
}


.marginpett{
	margin-right: -35px;
}


	/**picture fade**/
.image {
  border-radius: 100%;
  display: flex;
  flex: 0 0 150px;
  height: 250px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 250px;
  border: 20px solid  #ffcab2;
}  
.thumb {
  position: relative;
  width: 100%;
 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
   
}

.thumb:hover .overlay {
  opacity: 0.3;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.newss {
  display: inline-block;
  float: left;
}
.hotAirBalloonMovement {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	overflow:hidden;
}
.hotAirBalloonMovement .animatedBalloon,
.hotAirBalloonMovement .meri2,
.hotAirBalloonMovement .meri3,
.hotAirBalloonMovement .meri4,
.hotAirBalloonMovement .meri5,
.hotAirBalloonMovement .meri6,
.hotAirBalloonMovement .meri7,
.hotAirBalloonMovement .meri8,
.hotAirBalloonMovement .meri9,
.hotAirBalloonMovement .meri10,
.hotAirBalloonMovement .meri11,
.hotAirBalloonMovement .meri12,
.hotAirBalloonMovement .meri13,
.hotAirBalloonMovement .meri14,
.hotAirBalloonMovement .meri15 {
	display:inline-block;
	position:absolute;
	top:-30%;
	-webkit-animation:hotAirBalloonMovement 25s linear 1s infinite;
	animation:hotAirBalloonMovement 25s linear 1s infinite;
}
.hotAirBalloonMovement .meri2 {
	left:10%;
	-webkit-animation:meri2 25s linear 8s infinite;
	animation:meri2 25s linear 8s infinite;
}
.hotAirBalloonMovement .meri3 {
	left:17%;
	-webkit-animation:meri2 25s linear 18s infinite;
	animation:meri2 25s linear 18s infinite;
}
.hotAirBalloonMovement .meri4 {
	left:24%;
	-webkit-animation:meri2 25s linear 3s infinite;
	animation:meri2 25s linear 3s infinite;
}
.hotAirBalloonMovement .meri5 {
	left:30%;
	-webkit-animation:meri2 25s linear 3s infinite;
	animation:meri2 25s linear 3s infinite;
}
.hotAirBalloonMovement .meri6 {
	left:37%;
	-webkit-animation:meri2 25s linear 4s infinite;
	animation:meri2 25s linear 4s infinite;
}
.hotAirBalloonMovement .meri7 {
	left:44%;
	-webkit-animation:meri2 25s linear 9s infinite;
	animation:meri2 25s linear 9s infinite;
}
.hotAirBalloonMovement .meri8 {
	left:50%;
	-webkit-animation:meri2 25s linear 15s infinite;
	animation:meri2 25s linear 15s infinite;
}
.hotAirBalloonMovement .meri9 {
	left:57%;
}
.hotAirBalloonMovement .meri10 {
	left:64%;
	-webkit-animation:meri2 25s linear 10s infinite;
	animation:meri2 25s linear 10s infinite;
}
.hotAirBalloonMovement .meri11 {
	left:71%;
}
.hotAirBalloonMovement .meri12 {
	left:78%;
	-webkit-animation:meri2 25s linear 7s infinite;
	animation:meri2 25s linear 7s infinite;
}
.hotAirBalloonMovement .meri13 {
	left:85%;
}
.hotAirBalloonMovement .meri14 {
	left:40%;
	-webkit-animation:meri2 25s linear 17s infinite;
	animation:meri2 25s linear 17s infinite;
}
.hotAirBalloonMovement .meri15 {
	left:60%;
	-webkit-animation:meri2 25s linear 16s infinite;
	animation:meri2 25s linear 16s infinite;
}
@-webkit-keyframes hotAirBalloonMovement {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@-moz-keyframes hotAirBalloonMovement {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@keyframes hotAirBalloonMovement {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}

@-webkit-keyframes meri2 {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@-moz-keyframes meri2 {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}
@keyframes meri2 {
	0% { top:0; opacity:0;}
	10% {top:10%; opacity:1;}
	20% {top:20%; opacity:1;}
	30% {top:30%; opacity:1;}
	40% {top:40%; opacity:1;}
	50% {top:50%; opacity:1;}
	60% {top:60%; opacity:1;}
	70% {top:70%; opacity:1;}
	80% {top:80%; opacity:1;}
	90% {top:90%; opacity:1;}	
	100% { top:100%; opacity:0;}
}

.enter {
	color: #f33 !important;
	position: absolute !important;
	top: 85% !important;
	left: 50%;
	z-index: 1 !important;
	width: 120px;
	margin-left: -67px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.margleft{
	padding-left: 20px;
}
.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {
	border-bottom: solid 1px #fbe8aa; padding: 0 0 0 0;
	}
.bs-wizard > .bs-wizard-step {
	padding: 0; position: relative;
	}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
	color: #595959; font-size: 16px; margin-bottom: 5px;
	}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
	color: #999; font-size: 14px;
	}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
	position: absolute; width: 30px; 
	height: 30px; display: block; background: #fbe8aa; 
	top: 45px; left: 50%; margin-top: -15px; 
	margin-left: -15px; border-radius: 50%;
	} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
	content: ' '; width: 14px; height: 14px; background: #ccffea; 
	border-radius: 50px; position: absolute; top: 8px; left: 8px;
	} 
.bs-wizard > .bs-wizard-step > .progress {
	position: relative; border-radius: 0px; 
	height: 8px; box-shadow: none; margin: 20px 0;
	}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
	width:0px; box-shadow: none; background: #fbe8aa;
	}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
	width:100%;
	}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
	width:50%;
	}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
	width:0%;
	}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
	width: 100%;
	}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
	background-color: #f5f5f5;
	}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
	opacity: 0;
	}
.bs-wizard > .bs-wizard-step:first-child  > .progress {
	left: 50%; width: 50%;
	}
.bs-wizard > .bs-wizard-step:last-child  > .progress {
	width: 50%;
	}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{
	pointer-events: none;
	}
/*END Form Wizard*/



.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  margin-top: 58px;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.myfooter {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}

.myfooter .title-widget {
	text-align: left;
	color:#fff;
	font-size: 25px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 28px;
}

.myfooter .title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.myfooter .social-icon{padding:0px;margin:0px;}
.myfooter .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.myfooter .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.myfooter .acount-icon .fa{margin-right:25px;}


.myfooter .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}
.myfooter ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}


.myfooter .payment{margin:0px;padding:0px;list-style-type:none}
.myfooter .payment li{list-style-type:none}
.myfooter .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

.myfooter ul.social {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
.myfooter ul.social li {
	display: inline;
	margin: 0 5px;
}


.myfooter .social a.icoRss:hover {
	background-color: #F56505;
}
.myfooter .social a.icoFacebook:hover {
	background-color:#3B5998;
}
.myfooter .social a.icoTwitter:hover {
	background-color:#33ccff;
}
.myfooter .social a.icoGoogle:hover {
	background-color:#BD3518;
}
.myfooter .social a.icoVimeo:hover {
	background-color:#0590B8;
}
.myfooter .social a.icoLinkedin:hover {
	background-color:#007bb7;
}
.myfooter .social a.icoRss:hover i, .myfooter .social a.icoFacebook:hover i, .myfooter .social a.icoTwitter:hover i,
.myfooter .social a.icoGoogle:hover i, .myfooter .social a.icoVimeo:hover i, .myfooter .social a.icoLinkedin:hover i {
	color:#fff;
}
a.myfooter .socialIcon:hover, .myfooter .socialHoverClass {
	color:#44BCDD;
}

.myfooter .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.myfooter .social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}


.myfooter .social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.myfooter-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.myfooter-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}
/*  zooming class */


.zoom:hover {
     -webkit-transform: scale(1.4);
     -moz-transform: scale(1.4);
     -o-transform: scale(1.4);
 }
.zoom {
     -webkit-transform: scale(1);
     /* Browser Variations: */
     
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
 }