.storypic{
	width: 100%; 
	height: 450px; 
	background-position: center;
	background-repeat: no-repeat;
}
.capt{
	margin-top: 10px;
	width: 100%;
	height: 20px;
	
}
.story{
	font-family: Montserrat;
	font-size: 15px;
	text-decoration: bold;
}
.storycapt{
	font-family: Montserrat;
	font-size: 15px;
}
.likebtn{
	background-color: #fff;
	height: 30px;
}
.like{
	border: 0px;
	background: #fff;
	font-size: 15px;
	float: left;
	margin-left: 0px;
}